@model StudentExerciseMVC.Models.ViewModels.DetailExerciseViewModel



@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.exercise.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.exercise.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.exercise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.exercise.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.exercise.ProgramLang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.exercise.ProgramLang)
        </dd>
    </dl>

    <p>Number of Students Assigned: @Html.DisplayFor(model => model.NumberAssigned) </p>
    <p>Number of Students Completed: @Html.DisplayFor(model => model.NumberCompleted) </p>

    <p>Percent Completed: @Html.DisplayFor(model => model.PercentCompleted) </p>


</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.exercise.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
