@model TravelPlanner.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.FirstName)
            @Html.DisplayFor(model => model.Agent.LastName)
        </dd>
    </dl>

    <h4>Trips</h4>
    <hr />

    @foreach (ClientTrip ct in Model.ClientTrips)
    {
<dl class="row">

    <dt class="col-sm-2">@Html.DisplayNameFor(ModelItem => ct.trip.Name)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(ModelItem => ct.trip.Name)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(ModelItem => ct.trip.StartDate)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(ModelItem => ct.trip.StartDate)</dd>


    <dt class="col-sm-2">@Html.DisplayNameFor(ModelItem => ct.trip.EndDate)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(ModelItem => ct.trip.EndDate)</dd>

    <dt class="col-sm-2">Locations</dt>
    <dd class="col-sm-10">
        @foreach (TripLocation tl in ct.trip.TripLocations)
        {

            @Html.DisplayFor(ModelItem => tl.location.Name)<br/>

        }
    </dd>
    
</dl>
    }
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
