@model StudentExercisesEF.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlackHandle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlackHandle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cohort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cohort.Name)
        </dd>
    </dl>
    <dl>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.StudentExercises)
    </dt>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Programming Language</th>
                
            </tr>
            @foreach (var item in Model.StudentExercises)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Language)
            </td>
            
            <td>
                <span>Completed?</span>
                @Html.CheckBoxFor(
                model => item.isComplete,
                new
                {
                    @id = $"complete-{item.Id}-{Model.Id}-{item.Exercise.Id}",
                    @class = "ml-2"
                }
                )
            </td>
        </tr>
            }
        </table>
    </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
